.signatureImg {
    border: 1px solid black;
    width: 200px;
    height: 100px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.sigCanvas {
    overflow: hidden;
}